*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}
@font-face {
    font-family: NorseBold;
    src: url(Norse-Bold.otf);
}

.container{
    display: flex;
    min-height: 100vh;
}
.left{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 3;
    position: relative;    
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.right{
    display: flex;
    flex: 6;
    background-color: rgb(240 240 240);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.logo-bar{
    display: flex;
    font-family: NorseBold;
    height: 140px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    text-align: center;
    padding:20px;
    gap: 10px;
    position: absolute;
    width: 100%;
    top: 30%;
    font-size: 6em;
}
.left p{
    margin-bottom: 10px;
    font-size: 0.8rem;
}
p a{
    color: white;
}
.text{
    padding-left: 30px;
    max-width: 70%;
    font-weight: bold;
    font-size: 1.5rem;
}

.text p+p{
    margin: 30px 0;
}
.form{
    background-color: white;
    width:100%;
    padding: 30px 0px 30px 30px;
    box-shadow: 4px 4px 10px grey;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    max-width: 70%;
}
form > div{
    display: flex;
    flex-direction: column;
}
form h2{
    width:100%
}
input{
    width:220px;
    height: 1.5rem;
    padding: 12px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}
input:focus{
    border: 1px solid blue;
}
button{
    background-color: #596D48;    
    color:white;
    padding: 12px 24px;
    font-weight: bold;
    border: 1px solid #596D48;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 30px;
    cursor: pointer;
}
button:hover{
    background-color: #46543a;
}
button:focus{
    background-color: #37422c;
}
.account{
    padding:30px;
}
.account a{
    color:#596D48;
}
.account a:hover{
    color: #37422c;
}
@media screen and (max-width:600px){
    .left{
        display: none;
    }
}
footer{
    text-align:center;
    background-color: rgb(240 240 240);
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}